@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<MusicSocial3.Models.Genre>
@{
    ViewBag.Title = "Music Store";
}

<h3>Browse Genres</h3>
<p>
    Select from @Model.Count()
    genres:
</p>

    @foreach (var genre in Model)
    {
        @*<div class="well">
            <h3>
                <strong>@genre.Name</strong>
                <span class=" pull-right label label-primary"> @genre.Albums</span>
            </h3>
            <span class="lead">@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</span>*@
            <li class="list-group-item glyphicon glyphicon-music"> @Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name }) </li>
        @*</div>*@
    }



